language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

install:
  - travis_retry composer update

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover coverage.clover
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
